[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
autopep8 = "*"

[packages]
django = "*"
gunicorn = "*"
psycopg2 = "*"
whitenoise = "*"
django-widget-tweaks = "*"
django-tables2 = "*"
django-filter = "*"

[requires]
python_version = "3.7"
