{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}



{% block content%}

<div class='container'>
    <div class='row pt-4'>
        <div class="col">

        </div>
        <div class="col-md-4 col-md-offset-4">
            <div class="card text-center">
                <!-- Login Form -->
                <div class="card-header bg-dark">
                    <h2 class="text-secondary">Logout</h2>
                </div>
                <div class="card-body card text-left">
                    <h5 class="card-title">Has salido del Sistema!</h5>
                    <p class="card-text">Si deseas ingresar nuevamente haz click en el botón de abajo</p>
                    <a href="{% url 'login' %}" class="btn btn-primary">Ingresar</a>
                </div>
            </div>
        </div>
        <div class="col">
        </div>
    </div>
</div>





{% endblock %}